# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
.astro
src/data/generated-projects.json
src/data/generated-friends.json
src/data/generated-about.json
archive-originals
archive
dist-ssr
*.local
Calligraphy.PNG
brave_*.png
brave_*.jpg

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
